* { 
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body { 
    background-color: rgb(209, 209, 209);
}

#box {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 1px 2px 1px 1px  rgba(255, 0, 0, 0.19);
    width:1300px;
    margin-top:100px;
    height:600px;
    margin:  50px auto;
    font-size: 1rem;
    text-align:center;
    display: flex;
    justify-content: space-between;
}

#box h1 {
    font-size:3rem
}
#box p { 
    font-size:1.5rem
}


#left { 
    width:900px;
    height:500px;
    background-color: rgba(223, 87, 87, 0.026);
    margin:10px
}

.filmes { 
    border-radius:10px;
    background-color: rgba(255, 34, 0, 0.3);
    width:100%;
    margin-top:50px;
    padding-top:20px;
    height:380px;
    display: flex;
    flex-direction: wrap;
}

.filmes img { 
    width:200px;
    height:280px;
    padding:5px
}

#erased, #naruto, #hxh, #inazuma{ 
    flex-direction: column;
    width: 200px;
    border-radius:8px;
    font-size: 1.5rem;
    margin:2px;

}

#erased input, #inazuma input, #naruto input, #hxh input { 
    display: none;
}

#erased input + label::before, #inazuma input + label::before, #naruto input + label::before, #hxh input + label::before { 
        content: '';    
        width:13px;
        height:13px;
        border-radius:50%;
        border: 1px solid gray;
        display: inline-block;
        background-color: white;
}
#erased input:checked + label::before, #hxh input:checked + label::before, #inazuma input:checked + label::before , #naruto input:checked + label::before  { 
    background-color: rgb(255, 81, 0);
    border: 1px solid rgba(0, 0, 0, 0.495);
}

#right { 
        width:500px;
        height:550px;
        background-color: rgb(91, 91, 243);
        margin-left:20px;
        margin:10px;
        border-radius:10px;
}