body { 
    background-color: rgb(62, 130, 255);
    font-family: cursive;
    font-size: 1.2rem;
    padding:0;
    margin:0;
    box-sizing: border-box;

}

header { 
color:white;
text-align:center;
font-weight: bolder;


}

img { 
border-radius: 50%;
width:300px;
height:300px;
}

@media (max-width: 750px) {
section { 
    width:300px;
}
footer p { 
    color:black
}


}



.box { 
    background-color: white;
    border-radius: 10px;
    width:500px;
    padding:10px;
    margin: auto;
    text-align:center;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}



footer { 
text-align:center;
color:white;
font-weight: bolder;
}

#msg { 
padding-bottom:10px;
font-weight: bolder;
display:flex;
justify-content: center;
}